<!-- 
This file is named after the convention '<app>/<model>_<form>.html' 
since is a form that will be pushed to create a new post 
-->


{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} <!-- 'csrf_token' is a security tag -->
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div clas="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}












