# Ignore virtual environment directories
blogsite_venv/

# Ignore environment variable files
.env

# Ignore bytecode and other unnecessary files
__pycache__/
*.pyc

# Ignore [other stuff]
tutorial_transcripts/
django_blogsite_dir/media/
django_blogsite_dir/staticfiles/
venv/
staticfiles/
Lessons Learned/
DB backups/

# Ignore the database file
*.sqlite3
